*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	user-select: none;
}
*::-webkit-scrollbar {
	display: none;
}
html,
body {
	color: #f1f1f1;
	background-color: black;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	overflow: hidden;
}
body {
	display: flex;
	border: medium solid blue;
	border-radius: 0.3125em;
}
#one {
	flex: 1;
	overflow-y: scroll;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
	text-align: center;
	color: inherit;
	text-decoration: underline;
}
